.Body {
  background-color: #f7efa3;
  display: flex;
  flex-direction: column;
}

.ImgSec2 {
  width: 100%;
  opacity: 0.6;
}

.ImgSec3 {
  width: 100%;
  opacity: 0.9;
}

.ImgDiv {
  display: flex;
  flex-flow: column;
}
