.Body {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f7efa3;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}

.img {
  width: 100%;
  top: 0;
}
