@import "../../styles/utils/variables";

.Body {
  display: flex;
  flex-direction: column;
}

// .ImgSec2 {
//   width: 100%;
//   opacity: 0.6;
//   background-color: $colorThree;
// }

.Sec2Text {
  background-image: url(./IMGSec2.png);
  height: 240px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $fontFive;
  font-size: 25px;
}

.ImgSec3 {
  width: 100%;
  opacity: 0.9;
}

.ImgDiv {
  display: flex;
  flex-flow: column;
}
