@import "../../../styles/utils/variables";

.Mosaic {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
  }

.Imgs{
    object-fit: cover;
    width: 50%;
    margin: 0;
    display: flex;
    flex-flow: column;
}

.Imgs img {
    object-fit: cover;
    width: 100%;
    cursor: pointer;

      @media screen and (max-width: 575.98px) {
        height: 100px;
      }
      @media (min-width: 575.99px) and (max-width: 767.98px) {
        height: 160px;
      }
      @media (min-width: 767.99px) and (max-width: 991.98px) {
        height: 230px;
      }
      @media screen and (min-width: 991.99px) {
        height: 300px;
      }
    
}

.Imgs img:hover{
    background-color: blue;
  transition: background-color .5s;
}

