@import "../../styles/utils/variables";

.Home {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.Sec2Text {
  background-image: url(./IMGSec2.png);
  height: 240px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $fontFive;
  font-size: 25px;
}

.ImgSec3 {
  object-fit: cover;
  width: 100%;
}

.ImgDiv {
  display: flex;
  flex-flow: column;
}
