@import "../../../styles/utils/variables";

.Toolbar {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 8px;
}

.Toolbar_Logo {
  padding: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 50%;
  img {
    width: 25%;
  }
}

.buttonMenu {
  width: 25%;
}
.secondaryButtonMenu {
  @extend .buttonMenu;
  display: flex;
  justify-content: flex-end;
}

.primaryButtonMenu {
  @extend .buttonMenu;
  display: flex;
}
