@import "../../../styles/utils/variables";

.Toolbar {
    height: 56 px;
    width: 100%;
    position: relative;
    left: 0;
    background-color: $colorThree;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 8px;
}

.Toolbar_Logo {
    padding: 20px;
    display: flex;
    justify-content: center;
    img {
        width: 30%;
    }
}

