@import "../../../styles/utils/variables";

.Toolbar {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 8px;
}

.Toolbar_Logo {
  padding: 8px 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  img {
    width: 30%;
  }
}
